@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.MuiSvgIcon-root{
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
