@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.headname{
    padding: 10px;
    text-align: center;
    font-size: 200%;
    margin-bottom: 50px;
}
.headName{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.parter{
    display: flex;
    flex-wrap: wrap;
}
.partter-1{
    margin-right: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.button-1{
    margin-top: 80px;

}
.button-2{
    width: 130px;
    border-radius: 20px;

}
@media only screen and (max-width: 600px) {
    body {
      margin: 0px;
      padding: 0px;
      display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .headname{
        padding-top: 25px;
        margin-bottom: -30px;
    }
  }

.main{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
.color-cards{
    /* background-color: #AED6F1; */
    font-family: 'Work Sans', sans-serif  !important;
    
}


body{
    font-family:  'Work Sans', sans-serif !important;
}
