@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
.text-style{
    font-weight: bold;
}
.MuiIconButton-root{
    color: white;
}
.MuiTypography-body1{
    font-family: 'Work Sans', sans-serif !important;
}
.disp-poster{
    display: flex;
    justify-content: left;
    
}
.disp-poster-text{
    margin-top: 20px;
}
.disp-poster-text-1{
    margin-top: -20px;
}
.disp-text{
    
}
@media only screen and (max-width: 1060px) {
    .disp-poster{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       
    }
  }
