.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 25px;
    left: 26px;
    top: 26px;
}
/*todo: change color of burger button*/
/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #17202A;
}

/* Color/shape of burger icon bars on hover*/
/*todo: change color to theme color*/
.bm-burger-bars-hover {
    background: #0091EA;
    
}

/* Position and sizing of clickable cross button */
/*todo change h and w of cross*/
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
/*todo change color according to text*/
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
/*todo: change background color according to theme*/
.bm-menu {
    background: #2980b9;
    padding: 2.5em 0.2em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
/*todo change color of text*/
.menu-item{
    color: white;
    outline: none;
    font-size: 120%;
    margin: 30px;
}
/*todo change hover color*/
.menu-item:hover{
    color: #00203FFF;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.jk-tag{
    padding-left: 2px;
    font-size: 150%;
    color: white;
    outline: none;
}
