.maincon{
    display: flex;
    justify-content: center;
    
}
.main-control{
    width: auto;
    height: auto;
}
.part-1{
    width: 500px;
}
.part-2{
    margin-bottom: 25px;
}
.button{
    width: 400px;
    border-radius: 20px;
    margin-left: 40px;
}
.head{
    text-align: center;
    margin-bottom: 30px;
}