.alignment{
    display: flex;
    flex-direction: row;
    margin: 0px;
}
.transparent-body{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}
.text{
    text-align: center;
    font-size: 210%;
    padding-bottom: 10px;
    
}
.align-part1{
    margin-top: -10px;
}
.register-text{
    position: relative;
    top:11px;
}
.subtext{
    padding-top: -50px;
    text-align: center;
    font-size: 130%;
    margin-bottom: -15px;
}
.Button-align{
    float: center;
}
.form-style{
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
}
.textarea-1{
    width: 30ch;
}
.designform{
    margin: 30px;
    text-align: center;
    
   
}
.designform1{
    margin: 30px;
    text-align: center;
    margin-bottom: -20px;
    
   
}

.button-design{
    margin-top: 50px;
    text-align: center;
    float: center;
}
.text-design{
    font-size: 140%;
}
.button1{
    position: relative;
    left:25px;
}
.button2{
    position: relative;
    left: -25px;
}
@media only screen and (max-width: 600px) {
    body {
      margin: 0px;
      padding: 0px;
      display: flex;
    flex-direction: row;
    justify-content: center;
    }
    
  }